@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-mode-color: rgba(51, 50, 50);
  --light-mode-color: #fff;
  --blue-color: rgb(12, 175, 240);
  --grey-color: rgb(238, 236, 236);
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--dark-mode-color);
}
.app-name {
  top: 1rem;
  position: absolute;
  color: var(--light-mode-color);
}
.main {
  position: relative;
  top: 6rem;
  width: 1100px;
  height: 700px;
  margin: 0 0.2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-mode-color);
  overflow: hidden;
}

.search-container {
  height: 100%;
  flex-basis: 360px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  width: 100%;
}
.chat-search {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  position: relative;
}
.chat-search input {
  height: 45px;
  width: 250px;
  line-height: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding-left: 1rem;
  background-color: rgb(238, 236, 236);
}
.create-message {
  background-color: var(--blue-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.create-message .fa-pen-square {
  font-size: 16px;
  color: var(--light-mode-color);
  text-align: center;
}
.create-message:hover {
  background-color: rgb(12, 113, 153);
}

.messages {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 0.2rem;
  overflow-y: auto;
}
.messages::-webkit-scrollbar {
  background-color: rgb(221, 229, 236);
  width: 7px;
}
.messages::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
.message {
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  gap: 0 1rem;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.message:first-child::before {
  content: "";
  height: 1px;
  width: 90%;
  position: absolute;
  top: 0;
  background-color: rgb(228, 228, 228);
}
.message:hover::before {
  background-color: var(--blue-color);
}

.message::before {
  content: " ";
  background-color: rgb(228, 228, 228);
  height: 1px;
  width: 90%;
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
}
.message.active-contact::before,
.message.active-contact {
  background-color: var(--blue-color) !important;
  color: var(--light-mode-color) !important;
}

.message:hover,
.message:hover > .time {
  background-color: var(--blue-color);
  color: var(--light-mode-color);
}

.message .profile-pic {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  background-size: cover;
}
.message .profile-pic img {
  width: 100%;
}
.message .message-info {
  position: relative;
  display: flex;
  flex-direction: column;
}
.message .message-info .name {
  font-weight: bold;
  width: 180px;
  overflow: hidden;
  font-size: 1.2rem;
}
.message .message-info .message-data {
  font-size: 1rem;
  width: fit-content;
  overflow: hidden;
}
.message .time {
  font-size: 0.8rem;
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* Chat Area */

.chat-container {
  flex-basis: 740px;
  height: 100%;
  position: relative;
}

.chat-container header {
  height: 70px;
  background-color: var(--grey-color);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.chat-container .fa-ellipsis-h {
  display: none;
}
.chat-container .fa-arrow-left {
  display: none;
}
.chat-container header div {
  color: rgb(107, 96, 96);
}
.send-to {
  color: rgb(58, 53, 53);
  font-weight: bold;
}
.chat-messages {
  height: 520px;
  padding: 0.5rem 2rem;
  position: relative;
  overflow: auto;
}
.chat-messages::-webkit-scrollbar {
  appearance: none;
}

.date {
  width: 95%;
  height: 2px;
  background-color: var(--grey-color);
  position: relative;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3.5rem;
}
.date .date-info {
  position: relative;
  color: rgb(143, 143, 143);
  background-color: #fff;
  text-align: center;
  padding: 0 1.5rem;
  width: 220px;
  left: 50%;
  top: -0.7rem;
  transform: translateX(-50%);
}

.reciver-message {
  color: var(--light-mode-color);
  padding: 0.5rem;
  background-color: var(--blue-color);
  margin: 20px 0;
  border-radius: 7px;
  position: relative;
  right: 1rem;
  width: 270px;
  word-break: keep-all;
  padding-left: 1rem;
}
.sender-message {
  color: var(--dark-mode-color);
  padding: 1.2rem 0.5rem;
  background-color: var(--grey-color);
  margin: 15px 0;
  border-radius: 7px;
  position: relative;
  width: 270px;
  word-break: break-all;
  padding-left: 1rem;
  transform: translateX(410px);
}
.sender-message.arabic {
  direction: rtl; /* Right to Left */
}
.sender-message div {
  direction: ltr; /* Right to Left */
}
.sender-message > * {
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
  color: var(--dark-mode-color);
  font-size: 0.7rem;
}

.sender-message::after,
.reciver-message::after {
  content: " ";
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  height: 10px;
  width: 10px;
  position: absolute;
  top: 39%;
}
.sender-message::after {
  background-color: var(--grey-color);
  right: -10px;
  transform: rotate(90deg);
}
.reciver-message::after {
  background-color: var(--blue-color);
  left: -10px;
  transform: rotate(270deg);
}

/* Send Message From */

form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
}
.message-input {
  background-color: var(--grey-color);
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border-radius: 7px;
  display: flex;
  word-break: break-all;
  justify-content: center;
  align-items: center;
  position: relative;
}
.message-input input {
  width: 80%;
  height: 100%;
  margin-right: 2rem;
  outline: none;
  border: none;
  position: absolute;
  left: 3rem;
  background-color: transparent;
  font-size: 1.2rem;
  word-break: break-all;
  font-weight: 400;
}
.message-input input.arabic {
  direction: rtl; /* Right to Left */
}
.message-input .fa-paperclip {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: rgb(165, 156, 156);
  cursor: pointer;
}
.message-input .fa-laugh {
  margin-right: 2.5rem;
}
.message-input .fa-paper-plane,
.fa-laugh {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: rgb(165, 156, 156);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.fa-paper-plane:hover {
  color: gray;
}
.create-user-model {
  height: 100%;
  background-color: rgb(246, 246, 246);
  color: #333;
  position: absolute;
  transform: translateX(-360px);
  bottom: 0;
  width: 360px;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}
.create-user-model.open-model {
  transform: translateX(0);
}
.add-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  gap: 2rem 0;
}
.add-form-container h2 {
  position: relative;
  top: 2rem;
}
.add-form-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.name-div input {
  outline: none;
}
.fa-times {
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}
.add-form-container textarea {
  width: 90%;
  height: 200px;
  resize: none;
  outline: none;
  padding-left: 0.2rem;
  font-size: 1.2rem;
}
.add-form-container .name-div input {
  width: 90%;
  height: 35px;
  padding-left: 0.2rem;
  font-size: 1.2rem;
}
.wrapper {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #ffffff;
  font-size: 50px;
  cursor: pointer;
}

input[type="file"] {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-upload:hover,
.file-upload:active {
  background-position: 0 -100%;
  color: #2590eb;
}
.wrapper .file-upload.uplaodCompleted {
  background-position: 0 -100%;
  color: #a4e116;
}

.add-form-container .fa-plus-square {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -2rem;
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.name-div,
.message-div,
.profile-pic-div {
  gap: 0.5rem 0;
}
.fa-plus-square:hover,
.fa-times:hover {
  opacity: 0.7;
}
.emoji-model {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  width: auto;
  background-color: whitesmoke;
  position: absolute;
  right: 2.4rem;
  bottom: 4.2rem;
  display: none;
  padding: 0 0.5rem;
}
.emoji-model.open {
  display: grid;
}
.emoji-model > * {
  cursor: pointer;
  font-size: 1.4rem;
}

@media screen and (max-width: 1106px) {
  .main {
    width: 830px;
  }
  .search-container {
    flex-basis: 300px;
  }
  .message {
    align-items: center;
    gap: 0 0.5rem;
    position: relative;
  }
  .message .profile-pic {
    width: 40px;
    height: 40px;
    position: relative;
    top: 0;
  }
  .message::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .chat-search input {
    width: 75%;
  }
  .chat-container {
    flex-basis: 530px;
  }
  .chat-container .fa-ellipsis-h {
    display: none;
  }
  .chat-container .fa-arrow-left .fa-arrow-left {
    display: none;
  }
  .chat-messages {
    display: flex;
    flex-direction: column;
  }
  .sender-message {
    width: 260px;
    font-size: 1rem;
    transform: translateX(214px);
  }
  .reciver-message {
    width: 260px;
    font-size: 1rem;
    right: 10px;
  }
  .message-input input {
    width: 70%;
  }
  .create-user-model {
    transform: translateX(-300px);
    width: 300px;
  }
  .emoji-model {
    right: 1.8rem;
  }
}
@media screen and (max-width: 836px) {
  .app-name {
    top: 0.5rem;
  }
  .main {
    flex-wrap: unset;
    overflow-x: hidden;
    top: 3rem;
    height: calc(100vh - 3rem);
    margin: 0;
  }
  header {
    position: sticky;
  }
  .search-container {
    flex-basis: 100vw;
    -webkit-transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: all 0.3s;
  }
  .chat-search {
    justify-content: space-around;
  }
  .chat-search input {
    width: 80%;
    margin: 0 1rem;
  }

  .message {
    justify-content: unset;
    position: relative;
  }
  .message .profile-pic {
    position: relative;
    left: 1.5rem;
    top: 0;
  }
  .message .message-info {
    position: relative;
    left: 2rem;
  }
  .message .time {
    position: absolute;
    right: 3rem;
    font-size: 1rem;
    top: 0.6rem;
  }
  .chat-container {
    width: 100vw;
    position: absolute;
    transform: translateX(100%);
    overflow-x: hidden;
    -webkit-transition: transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: all 0.3s;
  }
  .chat-container header {
    justify-content: end;
    margin-right: 2rem;
    position: sticky;
  }
  .chat-container header div {
    position: absolute;
    right: 2rem;
    padding-right: 1rem;
  }
  .chat-container .fa-ellipsis-h {
    display: flex;
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .chat-container .fa-arrow-left {
    display: flex;
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .chat-messages {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .sender-message {
    transform: unset;
    position: relative;
    align-self: flex-end;
    display: flex;
    align-items: center;
    left: 23px;
    width: 200px;
    max-height: auto;
    word-break: break-all;
    font-size: 1rem;
  }
  .reciver-message {
    width: 200px;
    right: 10px;
  }

  .open-chat-area {
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .close-search-container {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  form {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0rem;
    background-color: rgb(214, 211, 211);
  }
  .message-input {
    position: relative;
    width: 90vw;
    display: flex;
    align-items: center;
  }
  .message-input input {
    width: 80%;
    margin: 0 1rem;
    position: relative;
  }
  form .message-input .input-iconzero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    right: 0rem;
    height: 100%;
    margin-left: 4rem;
  }

  .create-user-model {
    height: 100%;
    background-color: rgb(246, 246, 246);
    color: #333;
    position: absolute;
    transform: translateX(-100%);
    bottom: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }
  .create-user-model.open-model {
    transform: translateX(0);
  }
  .fa-times {
    position: absolute;
    font-size: 1.5rem;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    z-index: 2;
    transition: all 0.1s ease-in-out;
  }

  .add-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    gap: 1.5rem 0;
  }
  .add-form-container h2 {
    position: relative;
  }

  .name-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    font-size: 1.2rem;
  }
  .name-div input {
    border: none;
    outline: none;
    height: 35px;
    width: 300px;
    padding-left: 0.2rem;
    position: relative;
    border: 1px solid rgb(214, 212, 212);
  }
  .message-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    font-size: 1.2rem;
  }
  textarea {
    resize: none;
    border: none;
    font-size: 1rem;
    outline: none;
    padding-left: 0.2rem;
    max-height: auto;
    border: 1px solid rgb(214, 212, 212);
  }

  .fa-plus-square {
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    transition: all 0.1s ease-in-out;
    bottom: 1rem !important;
    color: var(--dark-mode-color);
    width: auto;
    height: auto;
  }
  .emoji-model {
    right: 2.5rem;
    bottom: 4.5rem;
  }
  @media screen and (max-width: 360px) {
    .add-form-container {
      height: 100%;
      gap: 1.5rem;
    }
    .add-form-container h2 {
      font-size: 1.4rem;
      position: relative;
      top: 2rem;
    }
    textarea {
      max-height: 70px;
    }
    .fa-plus-square {
      font-size: 1.6rem !important;
      cursor: pointer;
      position: absolute;
      transition: all 0.1s ease-in-out;
      top: -1.7rem !important;
      color: var(--dark-mode-color);
      width: auto;
      height: auto;
    }
    .wrapper {
      width: 40%;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: 1.5rem;
    }

    .file-upload {
      height: 55px;
      width: 55px;
      font-size: 30px;
    }
  }

  .message:hover .message-info .message-data span {
    display: inline-block;
    -webkit-animation: messageAnimation 3s linear infinite;
    animation: messageAnimation 3s linear infinite;
  }

  @keyframes messageAnimation {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
    }
  }
}
